version: 2
jobs:
  build:
    working_directory: ~/code
    docker:
      - image: circleci/android:api-30
    environment:
      JVM_OPTS: -Xmx3200m

    dependencies:
      pre:
        - mkdir $ANDROID_HOME/licenses
        - cat android-sdk-license > $ANDROID_HOME/licenses/android-sdk-license

    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum "app/build.gradle" }}

      - run:
          name: chmod permissions
          command: chmod +x ./gradlew

      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies

      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum "app/build.gradle" }}

      - run:
          name: Run Tests
          command: ./gradlew clean test

      - store_artifacts:
          path: app/build/reports
          destination: reports

      - store_test_results:
          path: app/build/test-results
      
      - run:
          name: Build apk
          command: ./gradlew assembleRelease

      - store_artifacts:
          path: app/build/outputs/apk/prod/release/app-prod-release-unsigned.apk
          destination: app-release.apk