version: 2
jobs:
  build:
    working_directory: ~/code
    docker:
      - image: circleci/android:api-25-alpha
    environment:
      JVM_OPTS: -Xmx3200m
      ANDROID_HOME: /opt/android

    dependencies:
      pre:
        - mkdir $ANDROID_HOME/licenses
        - cat android-sdk-license > $ANDROID_HOME/licenses/android-sdk-license

    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum "app/build.gradle" }}

#      - run:
#          name: System information
#          command: |
#            echo y | android update sdk --no-ui --all --filter "build-tools;30.0.2"
#            echo y | android update sdk --no-ui --all --filter "platforms;android-30"

      - run:
          name: chmod permissions
          command: chmod +x ./gradlew

      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies

      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum "app/build.gradle" }}

      - run:
          name: Run Tests
          command: ./gradlew test

      - store_artifacts:
          path: app/build/reports
          destination: reports

      - store_test_results:
          path: app/build/test-results